html{
  background-color: floralwhite;
  padding-right: 2%;
}

  img {
    max-width: 30%;

  }

.image{
    padding-left: 2%;
    display: flex;
}

p {
    font-size: 18px;
    text-align:justify;
  }

h2{
   
  padding-right: 2%;
}
.s{
  padding-left: 8%;
}

.award{
  padding-left: 2%;
}

.a{
    padding-left: 30%;
    color:rgb(206, 23, 13);
}

.b{
    padding-left: 85%;
}

.h{
  font-family: Copperplate, Papyrus, fantasy;
}

ul{
  font-size:large;
}